#step_2 {
  transition: opacity 0.4s linear 0.4s;
  background-color: var(--step2-color);
}

#step_2 #special_accomodation {
  padding-top:2em;
}

#step_2 input {
  margin-top: 1em;
}

fieldset #company_name_wrap label, 
fieldset #special_accommodations_wrap label {
  font-size: 0.7em;
  padding-right: 0.3em;
}