/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/*
form {
  display: flex;
  justify-content: center;
}
*/

:root {
  /*font-family:  Helvetica Neue,Helvetica,sans-serif; */
  --main-font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --card-font-family: 'Times New Roman', Times, serif;
  --step1-color: #aff3c5;
  --step2-color: #aedfea;
  --step3-color: #e8c3ab;
}

body {
  background-color: #303030;
  font-family: var(--main-font-family);
  font-size: 1.2em;
}

h1 {
  font-size: 2.5em;
  font-weight: bolder;
}

legend {
  font-family: var(--main-font-family);
  background-color: white;
  padding: 0.4em;
  border-radius: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}

/*deprecated*/
/* form.grid {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-gap: 0.4em;
  grid-auto-rows: minmax(min-content, max-content);
  /* grid-auto-rows: auto; 
} */

form {
  display: flex;
  flex-wrap: wrap;
}

#step_1 {
  background-color: var(--step1-color);
}
#step_2 {
  background-color: var(--step2-color);
}
#step_3 {
  background-color: var(--step3-color);
}

h1 {
  color: white;
}

h3 {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 1.1em;
  margin: 0.5em 0;
  font-style: normal;
}

span {
  color: #4691ca;
}

fieldset {
  width: 15em;
  font-family: var(--card-font-family);
  padding: 1.5em;
  margin: 0.4em;
  align-self: flex-start;
}

label, fieldset div, fieldset p {
  font-style: italic;
}

.slidedown1 {
  overflow: hidden;
  transition: max-height 0.5s ease-out; /* note that we're transitioning transform, not height! */
  height: auto;
  max-height: 320px;
}

.slidedown1.collapsed {
  max-height: 0;
}

/*
.slidedown2 {
  overflow:hidden;
  animation: bounce .8s ease-in-out;
  height:auto;
  transform-origin:top; /* keep the top of the element in the same place. this is optional. 
}
.slidedown2.collapsed {
}


@keyframes bounce {
  0%       { transform:scaleY(1); }
  25%      { transform:scaleY(0); }
  50%      { transform:scaleY(0); }
  75%      { transform:scaleY(1); }
  100%     { transform:scaleY(1);}
}
*/