body {
  font-family: var(--main-font-family);
  font-size: 1.2em;
}

h1 {
  font-size: 2.5em;
  font-weight: bolder;
  color: white;
  margin: 0.18em 0.18em 0.2em 0.18em;
}

h3 {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 1.1em;
  margin: 1.8em 0 0.4em 0;
  font-style: normal;
} 

legend {
  font-family: var(--main-font-family);
  background-color: white;
  padding: 0.4em;
  border-radius: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}

form {
  display: flex;
  flex-wrap: wrap;
}

span {
  color: #4691ca;
}

fieldset {
  width: 15em;
  font-family: var(--card-font-family);
  padding: 1.5em 1.5em 1em 1.5em;
  margin: 0.4em;
  align-self: flex-start;
}

label, fieldset div, fieldset p {
  font-style: italic;
}

input {
  max-width: 120px;
  font-size: 0.9em;
}